<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.qfedu.dao.UserDao">
        <resultMap id="userMap" type="com.qfedu.pojo.User">
                <id column="id" property="id"></id>
                <result column="no" property="no"></result>
                <result column="password" property="password"></result>
                <result column="name" property="name"></result>
                <result column="flag" property="flag"></result>
                <result column="role" property="role"></result>
                <result column="headphoto" property="headphoto"></result>
        </resultMap>
        <select id="findByName" parameterType="String" resultMap="userMap">
                select * from t_user where no = #{name}
        </select>
        <select id="findRolesByName" parameterType="string" resultType="string">
                select r.name from t_user u
                inner join t_role r
                on u.role=r.id
                where u.no=#{name}
        </select>
        <select id="findPermsByName" parameterType="string" resultType="string">
                select a.pdesc from t_user u inner join t_role r on u.role = r.id inner join t_roleauthority ra on r.id = ra.rid inner join t_authority a on ra.aid = a.id where no = #{name} and pdesc is not null;
        </select>
        <select id="selectUser" resultMap="userMap">
                select * from t_user
        </select>
        <delete id="deleteUser" parameterType="String">
                delete from t_user where no = #{no}
        </delete>
        <select id="selectUserBy" parameterType="map" resultMap="userMap">
                select * from t_user where 1=1 and flag = #{flag}
                <if test="no!=null and !no.equals('')">
                         and no = #{no}
                </if>

        </select>

    
</mapper>